.todoList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList__wrapper {
  display: flex;
  align-items: center;
}

.todoList__input {
  margin: 0 15px 0 0;
  cursor: pointer;
}

.todoList__text {
  max-width: 700px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: black;
  margin: 0;
}

.todoList__text:hover {
  text-decoration: underline;
}

.todoList__button-trash {
  border: none;
  padding: 0;
  background-color: inherit;
}

@media screen and (max-width: 992px) {
  .todoList__text {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .todoList__text {
    max-width: 200px;
  }
}
@media screen and (max-width: 360px) {
  .todoList__text {
    max-width: 100px;
  }
}